@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #09090b;
    --foreground: #F0F0F0;

    --primary: #3E517A;
    --primary-foreground: #F0F0F0;

    --secondary: #2E294E;
    --secondary-foreground: #F0F0F0;

    --destructive: #dc2626;
    --destructive-foreground: #F0F0F0;

    --muted: #666666;
    --muted-foreground: #999999;

    --accent: #3E517A;
    --accent-foreground: #F0F0F0;

    --popover: #17171a;
    --popover-foreground: #F0F0F0;

    --card: #17171a;
    --card-foreground: #F0F0F0;

    --border: #333333;

    --input: #212121;

    --ring: #3E517A;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Helvetica', sans-serif;
  }

  a {
    color: var(--primary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-primary-foreground border border-primary hover:bg-opacity-80;
  }

  .btn-success {
    @apply bg-secondary text-secondary-foreground border border-secondary hover:bg-opacity-80;
  }

  .btn-danger {
    @apply bg-destructive text-destructive-foreground border border-destructive hover:bg-opacity-80;
  }

  .btn-warning {
    @apply bg-accent text-accent-foreground border border-accent hover:bg-opacity-80;
  }

  .input {
    @apply bg-card text-foreground border border-border p-2 rounded;
  }

  .input:focus {
    @apply ring-2 ring-primary;
  }

  .card {
    @apply bg-card text-card-foreground border border-border p-4 rounded;
  }

  .popover {
    @apply bg-popover text-popover-foreground border border-border p-4 rounded shadow-lg;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
